.project{
    margin:0;
    padding:0;
    width:100%;
    height:6500px;
    display:flex;
    position: relative;
    flex-wrap:wrap;
    background-color: #eeeeee;
}

.pages {
    list-style-type: none;
    margin: 0;
    position:absolute;
    padding: 0;
    position:absolute;
    margin-left:700px;
   justify-content:space-between;

  }
 
  .home{
    width:80px;
    height:70px;
    background-color: #eae7e7;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", serif;
    font-size:16px;
}
  .home:hover{
    background-color: #e4e3e3;
  }
  .about{
    position: absolute;
    margin-left:160px;
    width:80px;
    height:70px;
    background-color: #eae7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", serif;
    font-size:16px;
  }
  .about:hover{
    background-color: #e4e3e3;
  }
  .contact{ 

    position: absolute;
    margin-left:80px;
   width:80px;
   height:70px;
   background-color: #eae7e7;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Montserrat", serif;
   font-size:16px;
  }
  .contact:hover{
  background-color:  #e4e3e3;
  }
a{
    text-decoration: none;
    color:black;
}
    a:hover{
      color:rgba(255, 196, 0, 0.915);
    }


  li {
    display: inline;
     gap:20px;
  }

  .navbari{
    display: flex;
    justify-content: center;
    position:relative;
    width: 100%;
    height:70px;
    background-color: #eae7e7;

  }

  .logo{
    font-family: "Montserrat", serif;
    font-size:23px;
    font-weight:700;
    position: absolute;
   margin-left:-1300px;
   margin-top:20px;
   color:rgba(255, 196, 0, 0.915);
  }

  .page1{
    position:relative;
    width:1000px;
    height:800px;
    display: flex;
    justify-content: center;
    background-color: #fff;
   margin-top:-2143px;
   margin-left:200px;
  }


  .image1{
    width:550px;
    height:500px;
    position: absolute;
    margin-left:-450px;
    margin-top:50px;
  }

  .text1{
    position: absolute;
    font-family: "Montserrat", serif;
    font-size:20px;
    font-weight:600;
    margin-top:50px;
    margin-left:210px;
  }

  .text2{
    font-family: "Montserrat", serif;
    font-size:60px;
    font-weight: 700;
    width:400px;
    margin-left:500px;
    margin-top:130px;
    line-height:1;
    color:rgba(255, 196, 0, 0.915);
    height:400px;
  }


  .text3{
    font-family: "Montserrat", serif;
    font-size:14px;
    width:450px;
    position: absolute;
    margin-left:560px;
    margin-top:380px;
  }

  .button1{
    position: absolute;
    height:40px;
    padding:10px 20px;
    font-family: "Montserrat", serif;
    font-size:14px;
    border:none;
    background-color: rgba(255, 0, 34, 0.564);
    font-weight: 500;
    color:white;
    margin-top:450px;
    margin-left:220px;
    cursor:pointer;
  }
 
  .card1{
    width:300px;
    height:350px;
    background-color: rgb(252, 219, 34);
    position: absolute;
    margin-left:-615px;
    margin-top:550px;
  }

  .card2{
    width:300px;
    height:350px;
    background-color: rgba(255, 0, 34, 0.564);
    position: absolute;
    margin-top:550px;
    margin-left:-15px;
  }

  .card3{
    width:300px;
    height:350px;
    background-color: lightblue;
    position: absolute;
    margin-top:550px;
    margin-left:585px;
  }

  .round1{
    width:60px;
    height:60px;
    background-color: #fff;
    border-radius:50px;
    margin-top:30px;
    margin-left:120px;
    text-align: center;
 
  }
  
  .search{
    font-size:30px;
    margin-top:15px;
    color:rgba(255, 0, 34, 0.564);
  }

  .text5{
    width:300px;
    height:50px;
    margin-top:100px;
    letter-spacing:0.1px;
    font-family: "Montserrat", serif;
    font-size:14px;
    line-height: 20px ;
    margin-left:-120px;
    position: absolute;
  }

  .text4{
    font-family: "Montserrat", serif;
    font-size:30px;
    margin-top:20px;
    position: absolute;
    margin-left:-40px;
    margin-top:40px;
    font-weight:300;
  }

  .button2{
    padding:10px 20px;
    border:none;
    background-color: #fff;
    color:black;
    margin-top:200px;
    margin-left:-10px;
    cursor:pointer;
  }





  .round2{
    width:60px;
    height:60px;
    background-color: #fff;
    border-radius:50px;
    margin-top:30px;
    margin-left:120px;
    text-align: center;
 
  }
  
  .search{
    font-size:30px;
    margin-top:15px;
    color:rgba(255, 0, 34, 0.564);
  }

  .text7{
    width:300px;
    height:50px;
    margin-top:100px;
    letter-spacing:0.1px;
    font-family: "Montserrat", serif;
    font-size:14px;
    line-height: 20px ;
    margin-left:-120px;
    position: absolute;
  }

  .text6{
    font-family: "Montserrat", serif;
    font-size:30px;
    margin-top:20px;
    position: absolute;
    margin-left:-40px;
    margin-top:40px;
    font-weight:300;
  }

  .button3{
    padding:10px 20px;
    border:none;
    background-color: #fff;
    color:black;
    margin-top:200px;
    margin-left:-10px;
    cursor:pointer;
  }



  .round1{
    width:60px;
    height:60px;
    background-color: #fff;
    border-radius:50px;
    margin-top:30px;
    margin-left:120px;
    text-align: center;
 
  }
  
  .search{
    font-size:30px;
    margin-top:15px;
    color:rgba(255, 0, 34, 0.564);
  }

  .text9{
    width:300px;
    height:50px;
    margin-top:100px;
    letter-spacing:0.1px;
    font-family: "Montserrat", serif;
    font-size:14px;
    line-height: 20px ;
    margin-left:-120px;
    position: absolute;
  }

  .text8{
    font-family: "Montserrat", serif;
    font-size:30px;
    margin-top:20px;
    position: absolute;
    margin-left:-40px;
    margin-top:40px;
    font-weight:300;
  }

  .button4{
    padding:10px 20px;
    border:none;
    background-color: #fff;
    color:black;
    margin-top:200px;
    margin-left:-10px;
    cursor:pointer;
  }


  .page2{
    background-color: white;
    position:relative;
    margin-top:-3390px;
    width:1000px;
    margin-left:200px;

  }

.title1{
    position: absolute;
    color:black;
    font-family: "Oswald", serif;
    font-weight:400;
    font-size:70px;
    margin-left:50px;
    margin-top:50px;
}

.colorchange1{
    color:rgb(255, 187, 0);
    font-weight:700;
    
}

.image3{
    position: absolute;
    width:300px;
    height:300px;
    margin-top:290px;
    margin-left:50px;
    z-index:2
}

.image4{
    position: absolute;
    width:300px;
    height:300px;
    margin-top:290px;
    margin-left:380px;
    z-index:2;
}
.colorframe{
    position: absolute;
    width:100%;
    height:300px;
    background-color: #c82e2e;
    margin-top:400px;
    z-index:1;
}

.text10{
    width:550px;
    position: absolute;
    font-family: "Open Sans", serif;
    font-size:13px;
    margin-left:50px;
    margin-top:150px;
    line-height:25px;
}



.text11{
    position: absolute;
    margin-top:800px;
    margin-left:50px;
    font-family: "Open Sans", serif;
    font-weight:700;
    font-size:20px;
    color:rgb(255, 187, 0);
}

.text12{
    position: absolute;
    font-family: "Oswald", serif;
        margin-top:850px;
    font-weight:900;
    font-size:50px;
    width:400px;
    line-height:60px;
    margin-left:50px;
}

.colorframe2{
    width:100px;
    height:5px;
    background-color:rgb(255, 187, 0);
    position: absolute;
    margin-top:1000px;
    margin-left:50px;
}

.text13{
    position: absolute;
    margin-top:1050px;
    font-family: "Open Sans", serif;
    font-size:20px;
    width:400px;
    font-weight:400;
    margin-left:50px;
    color:gray;
}

.text14{
    position: absolute;
    width:400px;
    height:700px;
    font-family: "Open Sans", serif;
    font-size:14px;
    margin-top:800px;
    margin-left:500px;
    letter-spacing:0.01em;
    line-height:25px;
}

.text15{
    position: absolute;
    width:400px;
    height:700px;
    font-family: "Open Sans", serif;
    font-size:14px;
    margin-top:1100px;
    margin-left:500px;
    letter-spacing:0.01em;
    line-height:25px;
}

.button5{
    position: absolute;
    margin-top:1250px;
    margin-left:500px;
    padding:8px 30px;
    border:none;
    background-color:rgb(255, 187, 0);
    cursor:pointer;
}

.colorframe3{
    width:400px;
    height:5px;
    background-color:rgb(255, 187, 0);
    position: absolute;
    margin-top:1350px;
    margin-left:260px;
}
.text16{
    position: absolute;
    margin-top:1450px;
    font-family: "Oswald", serif;
    font-weight:700;
    font-size:50px; 
    margin-left:50px;
    color:rgb(255, 187, 0);
}

.text17{
    position: absolute;
    margin-top:1550px;
    font-family: "Open Sans", serif;
    width:600px;
    height:200px;
    font-size:13px;
    line-height:22px;
    margin-left:50px;
}

.colorframe4{
    position: absolute;
    width:800px;
    height:300px;
    background-color: #c82e2e;
    margin-top:2000px;
    z-index:1;
    margin-left:200px;
}

.image5{
    position: absolute;
    width:250px;
    height: 280px;
    margin-top:1750px;
    z-index:2;
    margin-left:130px;
}
.image6{
    position: absolute;
    margin-top:1750px;
    width:250px;
    height: 280px;
    z-index:2;

    margin-left:400px;
}
.image7{
    position: absolute;
    margin-top:1750px;
    z-index:2;
    margin-left:670px;
    width:250px;
    height: 280px;
}
.image8{
    position: absolute;
    margin-top:2050px;
    z-index:2;
    width:250px;
    height: 280px;
    margin-left:130px;
}
.image9{
    position: absolute;
    margin-top:2050px;
    margin-left:420px;
    width:500px;
    height: 500px;
    z-index:2;

}

.image10{
    position: absolute;
    margin-top:2350px;
    z-index:2;
    width:250px;
    height: 200px;
    margin-left:130px;
    
}

.page6{
    position: absolute;
    width:1000px;
    height:1100px;
    background-color: #d8d8d8;
    margin-top:2600px;
    z-index: 1;
}
.colorframe5{
    width:1000px;
    position: absolute;
    height:300px;
    background-color: #c82e2e;
    margin-top:3000px;
    z-index:2;
}


.image11{
    position: absolute;
    margin-top:2680px;
    z-index:3;
    height:500px;
    width:750px;
    margin-left:100px;
}

.card4{
    position: absolute;
    width:450px;
    height: 300px;
    margin-top: 2950px;
    z-index:4;
    background-color: #fff;
    margin-left:450px;
    
}


.text18{
    position: absolute;
    z-index:5;
    margin-top:2970px;
    margin-left:480px;
    font-family: "Oswald", serif;
    font-weight:700;
    font-size:35px;
    color: rgb(255, 187, 0);
}

.text19{
    position: absolute;
    width: 400px;
    height: 700px;
    font-family: "Open Sans", serif;
    font-size: 14px;
    margin-top:3040px;
    margin-left:480px;
    line-height: 22px;
    z-index:5;

}

.button6{
    position: absolute;
    margin-top:3190px;
    z-index:5;
    margin-left:480px;
    padding:7px 20px;
    border:none;
    background-color:  rgb(255, 187, 0);
    font-family: "Open Sans", serif;
    letter-spacing:0.1em;
    cursor:pointer;
}

.text20{
    position: absolute;
    width: 500px;
    height: 700px;
    font-family: "Open Sans", serif;
    font-size: 18px;
    margin-top:3400px;
    margin-left:270px;
    line-height: 30px;
    z-index:5;
    text-align: center;
    font-weight:300;
}


.button7{
    position: absolute;
    margin-top:3590px;
    z-index:5;
    margin-left:450px;
    padding:7px 20px;
    border:none;
    background-color:  rgb(255, 187, 0);
    font-family: "Open Sans", serif;
    letter-spacing:0.1em;
    cursor:pointer;
}

.page7{
  position: absolute;
  width:1000px;
  background-color: #c82e2e;
  height:900px;
  margin-top:3700px;
  z-index:5;
}


.text21{
  position: absolute;
  font-family: "Oswald", serif;
  font-weight:700;
  font-size:45px;
  margin-top:3800px;
  z-index:6;
  width:400px;
  text-align: left;
  margin-left:40px;
  color:white;
}

.image12{
  position: absolute;
  width:400px;
  height:300px;
  margin-top:3800px;
  z-index:6;
  margin-left:480px;
}

.image13{
  position: absolute;
  width:600px;
  height:400px;
  margin-top:4020px;
  z-index:6;
  margin-left:50px;
}


.card5{
  position: absolute;
  width:350px;
  height:250px;
  margin-top:4300px;
  z-index:6;
  background-color: #fff;
  margin-left:500px;
}

.ring { width: 200px; height: 200px; border: 35px solid rgb(255, 255, 255);  border-radius: 50%;  box-sizing: border-box; position:absolute;
margin-top:4300px;z-index:6; margin-left:90px;  }


.button8{
position: absolute;
    margin-top:4500px;
    z-index:7;
    margin-left:520px;
    padding:7px 20px;
    border:none;
    background-color:  rgb(255, 187, 0);
    font-family: "Open Sans", serif;
    letter-spacing:0.1em;
    cursor:pointer;
}

.text22{
  position: absolute;
  font-family: "Oswald", serif;
  font-weight:700;
  font-size:35px;
  margin-top:4300px;
  z-index:7;
  width:400px;
  text-align: left;
  margin-left:520px;
  color:rgb(0, 0, 0);
}


.text23{
  position: absolute;
  width: 330px;
  height: 700px;
  font-family: "Open Sans", serif;
  font-size: 14px;
  margin-top:4370px;
  margin-left:520px;
  line-height: 22px;
  z-index:7;
}

.page9{
  position: absolute;
  width:1000px;
  background-color: #000000;
  height:600px;
  margin-top:4600px;
  z-index:7;
}


.colorframe6{
  position:absolute;
  margin-top:4760px;
  width:773px;
  height:309px;
background-image:linear-gradient(yellow, #c82e2e) ;
z-index:8;
margin-left:100px;
}


.card6{
  width:773px;
  height:350px;
  background-color: #fff;
  position: absolute;
  margin-top:4700px;
  z-index:8;
  margin-left:50px;
}





.container {
  display: flex;
   justify-content:center; 
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  position: absolute;
  margin-top:4700px;
  z-index:8;
}

.info {
  width: 40%;
}

.info p {
  margin: 10px 0;
  display: flex;
  align-items: center;

  
}

.info p span {
  margin-right: 10px;
  color:white;
  font-size: 20px;
}

.form {
  width: 50%;
}

.form input, .form textarea {
  width: 300px;;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input1, .input2, .placeholder1{
  position:relative;
  z-index:8;
  margin-top:50px;
}

.form button {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top:150px;
  position:absolute;margin-left:-100px;
}

.form button:hover {
  opacity: 0.9;
}



.text24, .text25, .text26{
  position:relative;
  width:300px;
  margin-left:150px;
  position: relative;
  font-family: "Oswald", serif;gap:20px;
}


.round7{
  width:45px;
  height:40px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  display: flex;
  justify-content: center;
  align-items: center;

}
.round5 {
  width:50px;
  height:40px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  display: flex;
  justify-content: center;
  align-items: center;
}
.round6{
  width:40px;
  height:40px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyrighttext{
  position: absolute;
  margin-top:5500px;
  z-index:8;
  
}